 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(14,69,116,0.45), rgba(14,69,116,0.45)), url("images/0bf89105520e994d11422a9f4114c799fd99f1054dbb2f67f3902ca449a5d344c6f9292d001d1364141c3a7a21125ff6e8023114f724b9e09425b0_1280.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 763px;
  margin: 138px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1;
  margin: 63px 37px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 100px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(16.6667% - 10.8333px) calc(16.6667% - 10.8333px) calc(16.6667% - 10.8333px) calc(16.6667% - 10.8333px) calc(16.6667% - 10.8333px) calc(16.6667% - 10.8333px);
  min-height: 58px;
  grid-gap: 13px 13px;
  margin-top: 0;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 5px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 760px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 48px;
  }

  .u-section-1 .u-list-item-1 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-list-item-2 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-list-item-3 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-list-item-4 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-list-item-5 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-list-item-6 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 147px;
    grid-template-columns: calc(33.3333% - 8.66664px) calc(33.3333% - 8.66664px) calc(33.3333% - 8.66664px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 248px;
    grid-template-columns: calc(50% - 6.49998px) calc(50% - 6.49998px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 92px;
    margin-right: calc(((100% - 1140px) / 2) + 343px);
    margin-left: calc(((100% - 1140px) / 2) + 357px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 38px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 57px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 200px;
    grid-gap: 21px 21px;
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }
}

.u-section-1 .u-list-item-2 {
  opacity: 0.9;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-2 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-2 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-1 {
  opacity: 0.9;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-3 {
  opacity: 0.9;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-3 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-3 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-4 {
  opacity: 0.9;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-4 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-4 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-5 {
  opacity: 0.9;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-5 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-5 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-6 {
  opacity: 0.9;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-6 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 20px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-list-item-6 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-6 {
  opacity: 1 !important;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  margin: 27px 0 0;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(14,69,116,0.4), rgba(14,69,116,0.4)), url("images/2fa008acb5445f7e4db606494538f524adb27531d582874a43e0b8cf0eb70f4f5f385cb0498421c5255b3e14b0627ff7517fbe9566765c5a34020_12801.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 0 0 8px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 4.5rem;
  margin: 44px 56px 0;
}

.u-section-3 .u-text-3 {
  margin: 40px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 109px;
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 9.38% 50%;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 19px -7px 23px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 3px;
}

.u-section-4 .u-line-1 {
  width: 193px;
  height: 16px;
  transform-origin: right center 0px;
  margin: 0 auto 0 13px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px 13px 0;
}

.u-section-4 .u-text-2 {
  margin: 10px 13px 0;
}

.u-section-4 .u-image-1 {
  height: 252px;
  width: 423px;
  margin: 10px 13px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 543px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 40px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-4 .u-line-1 {
    width: 313px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 220px;
    width: 369px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 240px;
  }

  .u-section-4 .u-image-1 {
    height: 168px;
    width: 281px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-line-1 {
    width: 225px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(14,69,116,0.35), rgba(14,69,116,0.35)), url("images/ee7f0521d6db2d29586a9157980208275c9c17863a4f8b9eb4e641d5cbc6abe6d3ea25fc908c2d251c7a61e5b036c71af562a1461385ca55de5e47_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 512px;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  width: 797px;
  margin: 51px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  margin: 50px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 489px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 397px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-6 .u-text-1 {
  margin: 20px 129px 0 320px;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/74a3894f77139d8eb02408b40e7db3359d436a6dd6c274380a75daad59b22c87dda6c4b1a96a8ee1b399ddfe31f147eba9a9cbb50bd10c921dd648_1280.jpg");
  background-position: 50% 50%;
  margin: -67px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -222px 0 0 320px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-6 .u-text-1 {
    letter-spacing: 2px;
    font-weight: bold;
    margin-right: 29px;
    margin-left: 220px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 402px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 402px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 8px 165px 0 14px;
}

.u-section-7 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/kate.jpg");
  background-position: 50% 50%;
  margin: -8px 8px 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: normal;
  margin: -278px 328px 0 14px;
}

.u-section-7 .u-text-3 {
  margin: 0 328px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 371px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -392px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 468px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -464px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 545px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 565px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 331px;
    margin-left: 24px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -344px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 55px;
    margin-left: 24px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(14,69,116,0.4), rgba(14,69,116,0.4)), url("images/77db159465581be566633343371a3e9abeaa104d918b0494a03be2311805e8723374e17410203ee01ed134c9dfeec485cdbf63f8096c3cf7cf9d15_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 685px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 52px 777px 0 0;
}

.u-section-8 .u-accordion-1 {
  width: 653px;
  margin: 35px auto 60px 0;
}

.u-section-8 .u-accordion-link-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin-top: 0;
}

.u-section-8 .u-accordion-link-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin-top: 0;
}

.u-section-8 .u-accordion-link-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 357px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 177px;
  }

  .u-section-8 .u-accordion-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-8 .u-accordion-1 {
    width: 340px;
  }
} .u-section-9 {
  margin-top: 20px;
}

.u-section-9 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 664px;
  margin: 12px auto 0;
}

.u-section-9 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 24px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 12.6667px));
  min-height: 535px;
  grid-gap: 19px;
}

.u-section-9 .u-list-item-1 {
  transition-duration: 0.5s;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-9 .u-icon-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-9 .u-text-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-2 {
  transition-duration: 0.5s;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-9 .u-icon-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-9 .u-text-4 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-9 .u-text-5 {
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-3 {
  transition-duration: 0.5s;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-9 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-6 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-9 .u-text-7 {
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-4 {
  transition-duration: 0.5s;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-9 .u-icon-4 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-9 .u-text-8 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-9 .u-text-9 {
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-5 {
  transition-duration: 0.5s;
}

.u-section-9 .u-container-layout-5 {
  padding: 10px 20px;
}

.u-section-9 .u-icon-5 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-9 .u-text-10 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-9 .u-text-11 {
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-9 .u-list-item-6 {
  transition-duration: 0.5s;
}

.u-section-9 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-9 .u-icon-6 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-9 .u-text-12 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 28px auto 0;
}

.u-section-9 .u-text-13 {
  background-image: none;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 12.6667px));
    min-height: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.500025px));
    min-height: 760px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.5px) calc(50% - 9.5px);
    grid-gap: 19px 19px;
  }
} .u-section-10 {
  background-image: url("/13cc1759d46889/bg.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 799px;
}

.u-section-10 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  margin: 34px auto 0;
}

.u-section-10 .u-image-1 {
  width: 422px;
  height: 659px;
  object-position: 50% 8.8%;
  margin: 31px 0 0 auto;
}

.u-section-10 .u-list-1 {
  width: 684px;
  grid-template-rows: auto auto auto;
  margin: -659px auto 24px 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 658px;
  grid-gap: 0px 0px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 15px;
}

.u-section-10 .u-text-2 {
  font-style: italic;
  background-image: none;
  margin: -48px 22px 0 101px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 15px;
}

.u-section-10 .u-text-3 {
  font-style: italic;
  background-image: none;
  margin: -48px 22px 0 101px;
}

.u-section-10 .u-container-layout-3 {
  padding: 0;
}

.u-section-10 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 15px;
}

.u-section-10 .u-text-4 {
  font-style: italic;
  background-image: none;
  margin: -48px 22px 0 101px;
}

.u-section-10 .u-container-layout-4 {
  padding: 0;
}

.u-section-10 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 15px;
}

.u-section-10 .u-text-5 {
  font-style: italic;
  background-image: none;
  margin: -48px 22px 0 101px;
}

.u-section-10 .u-container-layout-5 {
  padding: 0;
}

.u-section-10 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 15px;
}

.u-section-10 .u-text-6 {
  font-style: italic;
  background-image: none;
  margin: -48px 22px 0 101px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-10 .u-image-1 {
    width: 440px;
    height: 664px;
  }

  .u-section-10 .u-list-1 {
    width: 470px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: -80px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: -3px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -51px;
  }

  .u-section-10 .u-icon-3 {
    margin-top: -3px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -51px;
  }

  .u-section-10 .u-icon-4 {
    margin-top: -83px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -26px;
  }

  .u-section-10 .u-icon-5 {
    margin-top: -141px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 60px;
    margin-left: 336px;
  }

  .u-section-10 .u-image-1 {
    width: 360px;
    height: 722px;
    margin-top: -156px;
  }

  .u-section-10 .u-list-1 {
    width: 341px;
    margin-top: -513px;
    margin-bottom: 0;
    margin-left: 313px;
  }

  .u-section-10 .u-icon-1 {
    height: 56px;
    width: 56px;
    margin-top: -3px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: -86px;
    margin-left: 75px;
  }

  .u-section-10 .u-icon-2 {
    height: 56px;
    width: 56px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: -56px;
    margin-left: 75px;
  }

  .u-section-10 .u-icon-3 {
    height: 56px;
    width: 56px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: -56px;
    margin-left: 75px;
  }

  .u-section-10 .u-icon-4 {
    height: 56px;
    width: 56px;
    margin-top: -16px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: -8px;
    margin-left: 75px;
  }

  .u-section-10 .u-icon-5 {
    height: 56px;
    width: 56px;
    margin-top: -165px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: -155px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-10 .u-image-1 {
    height: 505px;
    margin-top: 81px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-list-1 {
    margin-top: -622px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-icon-1 {
    margin-top: -7px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
  }

  .u-section-10 .u-icon-5 {
    margin-top: -101px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 36px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-10 .u-image-1 {
    height: 381px;
    margin-top: -22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-1 {
    width: 387px;
    margin: 52px -23px 5px;
  }

  .u-section-10 .u-icon-1 {
    height: 52px;
    width: 52px;
    margin-top: -3px;
    margin-left: -5px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 5px;
    margin-left: 66px;
  }

  .u-section-10 .u-icon-2 {
    height: 52px;
    width: 52px;
    margin-left: -5px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -52px;
    margin-right: 5px;
    margin-left: 66px;
  }

  .u-section-10 .u-icon-3 {
    height: 52px;
    width: 52px;
    margin-left: -5px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -52px;
    margin-right: 5px;
    margin-left: 66px;
  }

  .u-section-10 .u-icon-4 {
    height: 52px;
    width: 52px;
    margin-top: -8px;
    margin-left: -5px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -12px;
    margin-right: 5px;
    margin-left: 66px;
  }

  .u-section-10 .u-icon-5 {
    height: 52px;
    width: 52px;
    margin-top: -129px;
    margin-left: -5px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -127px;
    margin-right: 5px;
    margin-left: 66px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 17px 0 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-line-1 {
  width: 176px;
  height: 16px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 452px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-11 .u-text-2 {
  margin: 0;
}

.u-section-11 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-11 .u-line-1 {
    width: 313px;
  }

  .u-section-11 .u-text-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-11 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-line-1 {
    width: 240px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-line-1 {
    width: 225px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-12 {
  background-image: linear-gradient(0deg, rgba(14,69,116,0.4), rgba(14,69,116,0.4)), url("images/UNADJUSTEDNONRAW_thumb_2637.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-12 .u-text-1 {
  text-shadow: 0 0 8px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 4.5rem;
  margin: 49px 40px 0;
}

.u-section-12 .u-text-2 {
  margin: 46px 0 39px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 109px;
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    background-position: 9.38% 50%;
  }

  .u-section-12 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin: 19px -7px 23px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 825px;
}

.u-section-13 .u-layout-wrap-1 {
  width: 1040px;
  margin: 27px auto 40px;
}

.u-section-13 .u-layout-cell-1 {
  background-image: none;
  min-height: 758px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 0 28px;
}

.u-section-13 .u-text-1 {
  margin: 0;
}

.u-section-13 .u-accordion-1 {
  margin: 20px 30px 0 auto;
}

.u-section-13 .u-accordion-item-1 {
  margin-left: auto;
}

.u-section-13 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-13 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-1 {
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-13 .u-accordion-item-2 {
  margin-left: auto;
}

.u-section-13 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-13 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-2 {
  background-image: none;
  min-height: 161px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-3 {
  margin: 0;
}

.u-section-13 .u-accordion-item-3 {
  margin-left: auto;
}

.u-section-13 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-13 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-3 {
  background-image: none;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px;
}

.u-section-13 .u-text-4 {
  margin: 0 0 0 auto;
}

.u-section-13 .u-accordion-item-4 {
  margin-left: auto;
}

.u-section-13 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-13 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-4 {
  background-image: none;
  min-height: 92px;
}

.u-section-13 .u-container-layout-5 {
  padding: 30px;
}

.u-section-13 .u-text-5 {
  margin: 0;
}

.u-section-13 .u-accordion-item-5 {
  margin-left: auto;
}

.u-section-13 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-13 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-5 {
  background-image: none;
  margin-left: 0;
  margin-right: 0;
  min-height: 205px;
}

.u-section-13 .u-container-layout-6 {
  padding: 30px;
}

.u-section-13 .u-text-6 {
  margin: 0;
}

.u-section-13 .u-accordion-item-6 {
  margin-left: auto;
}

.u-section-13 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-13 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-6 {
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-13 .u-container-layout-7 {
  padding: 30px;
}

.u-section-13 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 57px;
    width: 940px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-13 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-icon-1 {
    color: rgb(153, 153, 153);
  }

  .u-section-13 .u-icon-2 {
    color: rgb(153, 153, 153);
  }

  .u-section-13 .u-text-3 {
    line-height: 2;
  }

  .u-section-13 .u-icon-3 {
    color: rgb(153, 153, 153);
  }

  .u-section-13 .u-icon-4 {
    color: rgb(153, 153, 153);
  }

  .u-section-13 .u-icon-5 {
    color: rgb(153, 153, 153);
  }

  .u-section-13 .u-icon-6 {
    color: rgb(153, 153, 153);
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 40px;
    width: 720px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-layout-wrap-1 {
    margin-top: -43px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-13 .u-accordion-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 933px;
}

.u-section-14 .u-layout-wrap-1 {
  width: 1040px;
  margin: 0 auto 54px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 879px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 28px 30px 35px;
}

.u-section-14 .u-image-1 {
  height: 323px;
  width: 443px;
  margin: 0 auto;
}

.u-section-14 .u-form-1 {
  margin: 0 15px;
}

.u-section-14 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 794px;
  }

  .u-section-14 .u-image-1 {
    height: 297px;
    width: 407px;
  }

  .u-section-14 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-image-1 {
    height: 220px;
    width: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-image-1 {
    height: 203px;
    width: 296px;
  }
}
